@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;*
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}

:root {
    --color-primary-dark: #31261a;
    --color-primary-light: #FAF4EA;
    --color-brand-dark: #465929;
    --color-brand-light: #819B57;
}

/* Base */
* {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
}

h2 {
    font-size: 64px;
    font-weight: 900;
    line-height: 84px;
    letter-spacing: 0;
}

body {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.button {
    padding: 16px 32px;
    color: var(--color-primary-light);
    border-radius: 8px;
    font-weight: 600;
    border: 2px solid var(--color-brand-light);
    background-color: var(--color-brand-light);
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

.link {
    color: var(--color-primary-light);
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand-light);
    text-decoration: none;
}

/* Header */
.header__container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header__menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}


/*Hero Section*/
.hero-section {
    padding: 270px 0;
    background-image: url("../images/hero-section-background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.hero-section__title {
    margin-bottom: 0;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-section__title .text-brand {
    color: var(--color-brand-light);
}

/* Advantages section*/
.advantages-section__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    color: var(--color-primary-light);
}

.advantages-section {
    background-color: var(--color-brand-light);
    padding: 16px 0;
}

.section__title--centered {
    text-align: center;
}

/*Tradition Section*/

.traditions-section {
    padding-top: 96px;
}

.traditions-section__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.traditions-section__content {
    max-width: 710px;
}
.traditions-section__title {
    margin-bottom: 42px;
}

.text-brand,
.traditions-text{
    color: var(--color-brand-light);
    font-weight: 600;
}

.traditions-text {
    text-transform: uppercase;
}

.traditions-section__text {
    max-width: 340px;
}


/* Chefs section */
.chefs-section__title {
    max-width: 520px;
    margin: 0 auto 80px;
}

.chefs-section__title::after,
.chefs-section__title::before{
    display: block;
    width: 352px;
    border: 2px solid rgb(207, 207, 188);
    content: "";
}

.chef-card__photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px #D9D9D9;
}

.chef-card__title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}

/* Formats section */

.format-card {
    border-radius: 16px;
}

.formats-section__title {
    margin-bottom: 80px;
}

/* Carousel */
.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
}

.carousel-button:hover {
    background-color: var(--color-primary-dark);
}

.carousel-button:hover .carousel-arrow{
    fill: var(--color-primary-light);
}

.carousel-arrow {
    fill: var(--color-primary-dark);
}

/* Contact section */

.contact-section__title {
    margin-bottom: 16px;
}

/* Footer */

.footer {
    background-image: url("../images/footer-background.png");
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer__socials-icon {
    fill: var(--color-primary-light);
}
